

<div class="site">
    <a class="skip-link sr-only" href="#main">Skip to content</a>

    <!-- Options headline effects: .rotate | .slide | .zoom | .push | .clip -->
    <section class="hero-section hero-section--video clearfix rotate">
        <div class="hero-section__wrap">
            <div class="hero-section__option">
                <div data-video="youtube" class="player" data-property="{videoURL:'https://youtu.be/7gb4Nxly5oM',containment:'body',autoPlay:true, mute:false, startAt:0, opacity:10}">Video Youtube</div>
                <!-- <div data-video="vimeo" class="player" data-property="{videoURL:'https://vimeo.com/90969239',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}">Video Vimeo</div> -->
            </div>
            <!-- .hero-section__option -->

            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8">
                        <div class="title-01 title-01--11 text-center">
                            <h2 class="title__heading">{{ site.title }}</h2>
                            <div class="title__description"></div>

                            <!-- Options btn color: .btn-success | .btn-info | .btn-warning | .btn-danger | .btn-primary -->
                            <div class="title__action"><a href="{{ site.baseurl }}/Registration" class="btn btn-lg btn-info">Register Now for ROAR 2018</a></div>
                        </div>
                        <!-- .title-01 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- .hero-section__wrap -->
    </section>
    <!-- .hero-section -->
</div>
