<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{ site.baseurl }}/">ROAR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/" title="Check out our Trials" role="button" aria-haspopup="true" aria-expanded="false">Trail Information</a>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="{{ site.baseurl }}/Rules">Rider's ules</a>
               <!--<a class="dropdown-item" href="{{ site.baseurl }}/assets/maps/ROAR-Overview-Map.pdf" title="Download: Trail Map">PDF - Map</a>-->
               <a class="dropdown-item" href="{{ site.baseurl }}/TrailRating">Trail Rating</a>
               <a class="dropdown-item" href="{{ site.baseurl }}/Trails">Trails</a>
             </div>
           </li>
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Events/Events" title="Event Calendar">Event</a></li>

          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/" title="Registration to ride or be a vendor" role="button" aria-haspopup="true" aria-expanded="false">Registration</a>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="https://www.eventbrite.com/e/rangely-ohv-adventure-rally-roar-tickets-46452798571">Rider</a>
               <a class="dropdown-item" href="{{ site.baseurl }}/Registration/Vendors" title="Vendor Registration">Vendor</a>
             </div>
           </li>

          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Gallery" title="Event Photos">Gallery</a></li>


          <!-- <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Registration" title="Signup for an event">Registration</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/About" title="What is ROAR">About</a></li> -->
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/Contact" title="Ask us a Question">Contact</a></li>
        </ul>

        <address>
          <strong>Rangely Chambers</strong><br/>
          <abbr title="phone">P: (970) 675-5290</abbr>
        </address>

      </div>
    </nav>
